{
  "$schema": "https://json.schemastore.org/prettierrc",
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 100,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "parser": "markdown",
        "printWidth": 79
      }
    }
  ]
}
